@import url("https://use.typekit.net/ydq0zca.css");

@mixin bold-font {
    font-family: proxima-nova, sans-serif;
    font-weight: 700;
    font-style: normal;
}

@mixin regular-font {
    font-family: proxima-nova, sans-serif;
    font-weight: 400;
    font-style: normal;
}


@mixin light-font {
    font-family: proxima-nova, sans-serif;
    font-weight: 300;
    font-style: normal;
}


@mixin medium-font {
    font-family: proxima-nova, sans-serif;
    font-weight: 500;
    font-style: normal;
}
